<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make GIF</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
        <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    </head>
    <body hx-boost="true">
        <legend><h1>Details for gif {{anim.pk}}</h1></legend>
        {%include 'components/navbar.html'%}
        <main>         
        <header>
        </header>
            <div>    
            {% load static %}
            {%include 'components/media-div.html' with anim=anim%}
           </div>

           <div>

            <div>
                <form action="{% url 'mkgif:animation_details' pk=anim.pk %}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend><label>Edit gif Animation</label></legend>
                        {% csrf_token %}
                        <div>
                            <p>Choose a format:</p>
                            <label for="select_type_from">From:</label>
                            <select id="select_type_from" name="select_type_from" type="select" required>
                                <option value="mp4">mp4</option>
                                <option value="gif">gif</option>
                                <option value="png">png</option>
                            </select>
                        </div>
                        <div>
                            <label for="select_type_to">To:</label>
                            <select id="select_type_to" name="select_type_to" type="select" required>
                                <option value="mp4">mp4</option>
                                <option value="gif">gif</option>
                                <option value="png">png</option>
                            </select>
                        </div>
                        <input name="name" type="text" placeholder="Animation name">
                        <input name="scale" type="number" placeholder="Animation scale">
                        <input name="framerate" type="number" placeholder="Animation framerate">
                        <button>Submit</button>
                    </fieldset>
                </form>
            </div>

           </div>

           <div>
            <p>Pictures in my animation</p>
                {% for img in page_obj %}           
                <img width="300" src="{% get_media_prefix %}{{img.image}}">
                {% endfor %}
                <hr>

                <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
  
                      <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
  
                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
              </div>
              
              <hr>
            </table>
            </div>
        </main>
    </body>
</html>

