<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make GIF</title>
    </head>
    <body>
        <main>         
        <header>
            <legend><h1>Make GIF Animations</h1></legend>
        </header>
            <div>    
            {% load static %}
               <img src="{% get_media_prefix %}{{anim.pk}}/out.gif">                  
               <td>{{ anim.pk }}</td>
               <td><a href="{% url 'mkgif:details' anim.pk %}">{{ anim.name }}</a></td>
           </div>

           <div>

            <div>
                <form action="{% url 'mkgif:make_gif' pk=anim.pk %}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend><label>Add New GIF Animation</label></legend>
                        {% csrf_token %}
                        <input name="name" type="text" placeholder="Animation name">
                        <input name="scale" type="number" placeholder="Animation scale">
                        <input name="framerate" type="number" placeholder="Animation framerate">
                        <button>Submit</button>
                    </fieldset>
                </form>
            </div>

           </div>

           <div>
            <p>Pictures in my animation</p>
                {% for img in images %}           
                <img width="300" src="{% get_media_prefix %}{{img.image}}">
                {% endfor %}
            </table>
            </div>
            <hr>
        </main>
    </body>
</html>

