<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make GIF</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
       <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>

    </head>
    <body hx-boost="true">
        <header>
            <h1>Make GIF Animations</h1>
        </header>
        {%include 'components/navbar.html'%}

        <main>
            <div>
                <p>My GIF Animations:</p>
            </div>
            {% for anim in anims %}

          
            <span class="status">{{ anim.status }}</span>
            <div>
                <div>
                    <td>{{ anim.pk }}</td>
                    <td><a href="{% url 'mkgif:details' anim.pk %}">{{ anim.name }}</a></td>
                </div>
                           
                <button
                data-hx-delete="{% url 'mkgif:gif_pk' anim.pk %}"
                data-hx-trigger="click"
                data-hx-target="body"
            >Delete</button>
            {%if anim.status == "complete"%}
            {%include 'components/media-div.html' with anim=anim%}
            {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif">
            {%endif%}
            
            </div>
    
  

        {% endfor %}
   
            <hr>
            <form action="{% url 'mkgif:animation' %}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend><label>Add New GIF Animation</label></legend>
                    {% csrf_token %}

                    <div>
                        <p>Choose a format:</p>
                        <label for="select_type_from">From:</label>
                        <select id="select_type_from" name="select_type_from" type="select" required>
                            <option value="mp4">mp4</option>
                            <option value="gif">gif</option>
                            <option value="png">png</option>
                        </select>
                    </div>
                    <div>
                        <label for="select_type_to">To:</label>
                        <select id="select_type_to" name="select_type_to" type="select" required>
                            <option value="mp4">mp4</option>
                            <option value="gif">gif</option>
                            <option value="png">png</option>
                        </select>
                    </div>
                    <br>
                    <input name="name" type="text" placeholder="Animation name" required>
                    <input name="scale" type="number" placeholder="Animation scale" required>
                    <input name="framerate" type="number" placeholder="Animation framerate" required>
                    <input name="imgs" type="file" multiple>
                    <button>Submit</button>
                </fieldset>
            </form>
        </main>
        

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>

<script>
function checkJobStatus(animId) {
    fetch(`/check_status/${animId}/`)
        .then(response => response.json())
        .then(data => {
            const status = data.status;
            if (status === "complete") {
                location.reload();
                clearInterval(intervalIdMap[animId]);
            }
        })
        .catch(error => console.error("Error fetching job status:", error));
}
window.intervalIdMap = window.intervalIdMap || {};

{% for anim in anims %}
    // Only start the interval if the status is "processing"
    if ("{{ anim.status }}" === "processing") {
        intervalIdMap[{{ anim.pk }}] = setInterval(() => checkJobStatus({{ anim.pk }}), 1000);
    }
{% endfor %}

    </script>
    
    </body>
</html>

