{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make GIF</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
       <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="{% static 'mkgif/styles.css' %}">
    </head>
    <body hx-boost="true">
        <header>
            <h1>Make GIF Animations</h1>
        </header>
        {%include 'components/navbar.html'%}

        <main>
            <div>
                <p>My GIF Animations:</p>
            </div>

            <div>
                <form action="{% url 'mkgif:animation' %}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend><label>Add New GIF Animation</label></legend>
                        {% csrf_token %}
    
                        <div>
                            <p>Choose a format:</p>
                            <label for="select_type_from">From:</label>
                            <select id="select_type_from" name="select_type_from" type="select" required>
                                <option value="mp4">mp4</option>
                                <option value="gif">gif</option>
                                <option value="png">png</option>
                            </select>
                        </div>
                        <div>
                            <label for="select_type_to">To:</label>
                            <select id="select_type_to" name="select_type_to" type="select" required>
                                <option value="mp4">mp4</option>
                                <option value="gif">gif</option>
                                <option value="png">png</option>
                            </select>
                        </div>
                        <br>
                        <input name="name" type="text" placeholder="Animation name" required>
                        <input name="scale" type="number" placeholder="Animation scale" required>
                        <input name="framerate" type="number" placeholder="Animation framerate" required>
                        <input name="imgs" type="file" multiple>
                        <button>Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="animation-container">
                {% for anim in page_obj %}
                    <div class="animation-card">
                        <span class="status">{{ anim.status }}</span>
                        <div class="animation-info">
                            <span>{{ anim.pk }}</span>
                            <a href="{% url 'mkgif:animation_details' anim.pk %}">{{ anim.name }}</a>
                        </div>
                        <button
                            data-hx-delete="{% url 'mkgif:animation_details' anim.pk %}"
                            data-hx-trigger="click"
                            data-hx-target="body"
                        >Delete</button>
                        {% if anim.status == "complete" %}
                            {% include 'components/media-div.html' with anim=anim %}
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            
  
            <hr>

              <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            
            <hr>

        </main>
        

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>

    <script>
        {% for anim in page_obj %}
            if ("{{ anim.status }}" === "processing") {
                let animSocket = new WebSocket(
                    'ws://' + window.location.host + '/ws/status/{{ anim.pk }}/'
                );

                animSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    console.log(data)
                    if (data.status === "finished") {
                        console.log("Animation complete");
                        location.reload();
                    }
                };

                animSocket.onclose = function(e) {
                    console.error('Status socket closed unexpectedly');
                };
            }
        {% endfor %}
    </script>



    
    </body>
</html>

