<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make GIF</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
       <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
            <h1>Make GIF Animations</h1>
        </header>
        <nav>
    <ul>
        <li><a href="{% url 'mkgif:index' %}">Home</a></li>
        <li>
            <span>{{ user }}</span>
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            </span>
        </li>
    </ul>
</nav>

        <main>
            <div>
                <p>My GIF Animations:</p>
            </div>
            {% for anim in anims %}
            <div>
                <div>
                    <td>{{ anim.pk }}</td>
                    <td><a href="{% url 'mkgif:details' anim.pk %}">{{ anim.name }}</a></td>
                </div>
                           
                <span
                data-hx-delete="{% url 'mkgif:gif_pk' anim.pk %}"
                data-hx-trigger="click"
                data-hx-target="body"
            >Delete</span>

        <div>
             {% load static %}
                <img src="{% get_media_prefix %}{{anim.pk}}/out.gif">                  
        </div>
            </div>
    
  

        {% endfor %}
   
            <hr>
            <form action="{% url 'mkgif:index' %}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend><label>Add New GIF Animation</label></legend>
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Animation name">
                    <input name="scale" type="number" placeholder="Animation scale">
                    <input name="framerate" type="number" placeholder="Animation framerate">
                    <input name="imgs" type="file" multiple>
                    <button>Submit</button>
                </fieldset>
            </form>
        </main>
        

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>
</html>

